* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1 em;
  text-decoration: none;
}

nav {
  text-align: center;
}

h1 {
  background-color: lightblue;
  color: darkblue;
  padding: 5px;
}

a {
  color: lightcoral;
  background-color: aqua;
  margin: 5%;
  padding: 10px 20px;
  border-radius: 50%;
}